<div class="tiendu-block-text rte mb-6 text-lg leading-8 text-[var(--color-text-light)]" {{ block.shopify_attributes }}>
  {{ block.settings.content }}
</div>

{% schema %}
{
  "name": "Texto",
  "settings": [
    {
      "type": "richtext",
      "id": "content",
      "label": "Contenido",
      "default": "<p>Agrega aqui tu texto descriptivo.</p>"
    }
  ]
}
{% endschema %}
